<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('log server', {data: 'I\'m connected!'});
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('log', function(msg) {
            	var dt = new Date();
				var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds() + ":" + dt.getMilliseconds();
                $('#log').append('<br>' + time + ' # : ' + msg.data);
            });

            // handlers for the different forms in the page
            // these send data to the server in a variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('begin', 
                	{
                		data: {
                			email:$('#email').val(),
                			password:$('#password').val()
                		}
                	});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect request');
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Linkedin profile optimizer</h1>
    <h2>You linkefin info</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="passwrod" name="password" id="password" placeholder="Password">
        <input type="submit" value="Start">
    </form>
    <h2>Receive:</h2>
    <pre><div id="log"></div></pre>
</body>
</html>